<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<test name="Test case">
		<classes>
			<class name="TestCase.Ecommerce_Amazon"></class>
			<class name="TestCase.Ecommerce_Flipkart"></class>
			<class name="TestCase.Mobile_Apple"></class>
			<class name="TestCase.Automobile_Tesla"></class>
			<class name="TestCase.Basics"></class>
		</classes>
	</test>
</suite>